
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// splash
$background-splash: rgb(255, 246, 240);
$purple-splash: rgb(84, 19, 85);
$blue-splash: rgb(6, 98, 202);
$blue-text-highlight: rgb(61, 132, 226);

// forms
$light-gray: rgb(224, 224, 224);


// default
$main-Roboto-font:'Roboto', sans-serif;
$background-white:white;
$padding-spacing: 3.5rem;
$margin-spacing-splash:10px;

//default for splash
// padding-top: 110px;
// padding-right: 40px;
// padding-left: 45px;