@import '../base/variables.scss';
.channel-form-head {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(31, 31, 31, 0.657);
  z-index: 95;
}

.channel-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); //transformation is characterized by a two-dimensional vector. Its coordinates define how much the element moves in each direction.

.modal-button{
    border: none;
    background: none;
    color: #888888;
    width: 35px;
    border-radius: 5px;
}
    .channel-form-master{
        padding:30px;
        width: 520px;
        height: 510px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 13px #4b4b4ba6;

        .channel-1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 20px;
            h1{
                font-size: 27px;
                font-weight: 900;
            }

            button:hover{
                background: rgba(212, 212, 212, 0.39);
                color: black;
                cursor: pointer;
            }
        }
        .content-channel{
            color: #4e4e4ed9;
            letter-spacing: .25px;
            padding-bottom: 20px;
            line-height: 1.5;
            font-size: 15px;
        }

        .channel-name-label{

            .channel-name-input{
                display: flex;
                flex-direction: row;
                justify-content:flex-start;
                .channel-name-error{
                    color: $yellow;
                }
                label{
                padding-right: 10px;
                padding-bottom: 10px;
                font-weight: 500;
                font-size: 15px;
                }
                .error-handleing{
                    color: orange;
                    font-weight: 500;
                    font-size: 15px;
                }
                
            }

            .channel-name-symbol{
                    .symbol{
                        position: absolute;
                        top: 175px;
                        left: 40px;
                        color: gray;
                        width: 40px;
                    }
                }
            input{
                width: 100%;
                border:none;
                border: 1px solid gray;
                border-radius: 2px;
                height:35px;
            }
            // input[type=text]:focus {
            input:focus{
                border:none;
                border: 2px solid rgb(40, 169, 255);
                outline: none;
                box-shadow: 0 0 0 3px rgb(150, 213, 255);
                border-radius: 2px;
            }
            .symbol-spacing{
                padding-left: 23px;
            }
        }
        .channel-name-input2{
            display: flex;
            flex-direction: row;
            justify-content:flex-start;
            label{
                padding-top: 10px;
                padding-right: 10px;
                font-weight: 500;
                font-size: 15px;
                padding-bottom: 10px;
            }
             p{
                 padding-top: 10px;
                color: #4e4e4ed9;;
                font-size: 12px;
            }
        }
        .channel-name-input2-5{

            p{
                padding-top: 5px;
                color: #4e4e4ed9;;
                 font-size: 12px; 
            }     
        }
    }
    .channel-private{
        .channel-private-label{
            padding-top: 28px;
            padding-bottom: 5px;
            font-weight: 500;
            font-size: 15px;
        }

        .channel-private-toggle{
            display: flex;
            flex-direction: row;
            justify-content:space-between;

            p{
                padding-top: 5px;
                color: #4e4e4ed9;
                font-size: 14px;
                line-height: 24px;
            }

            .toggle{
                padding-top: 5px;
                padding-left: 114px;
            }
        }
    }

    .last-channel-section{
        padding-top: 70px;
        display: flex;
        justify-content: space-between;
        .iconimage{
            height: 20px;
            width: auto;
            padding-top: 6px;
        }
        .last-inner-channel-section{
            color: #5ba2ff;
            text-decoration: none;
            font-size: 15px;
            padding-left: 5px;
        }
        .last-inner-channel-section:hover{
            color: gray;
            text-decoration: underline;
            cursor: pointer;
        }
        .submitButton{
            padding-left: 20px;
            padding-right: 20px;
            color: rgb(77, 77, 77); 
            border: none;
            font-weight: 600;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 5px;
            background: lightgray; 
            pointer-events: none; // makes it not clickable
        }
    }
}

.private-button{
    padding-left: 20px;
    padding-right: 20px;
    color: white; 
    border: none;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    background: #007a53; 
}
.private-button:hover{
    cursor: pointer;
    background: #009063;
    box-shadow: 0px 0px 5px #5c5c5ca6;
}

// user search form
.user-search-form{
    height: 290px;
    // height: 370px;
    width: 550px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
.user-search-header{
    display: flex;
    justify-content: space-between;

    .add-people{
        font-weight: bolder;
    }
    .name-channel{
        padding-top: 5px;
        color: #4e4e4ed9;
        font-size: 12px;
    }
}
.members{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    .member-items{
        padding-top: 10px;
    }
    .label{
        padding-left: 10px;
    }
}
.input-box{
    margin-top: 20px;
    height: 41px;
    width: 100%;
    font-size: 19px;
    outline: none;
}
.input-box:focus{
    border:none;
    border: 2px solid rgb(40, 169, 255);
    outline: none;
    box-shadow: 0 0 0 3px rgb(150, 213, 255);
    border-radius: 2px;
}
.button-search{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.list-names{
    // background-color: blue;
    // color: white;
    position: absolute;
    top: 175px;
    border: 0.5px solid #838383;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    border-radius: 4px;
    background-color: #efefef;
    box-shadow: 0px 0px 4px #4b4b4ba6;
    width: 95%;
    right: 15px;
}
.selectedname{
    outline: none;
    border:none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.selectedname:hover{
    cursor: pointer;
    background-color:#2158d4;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
}
.list-none{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.input-name{
    outline: none;
    border: none;
    background-color: rgb(168, 203, 235);
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    margin-right: 3px;
    border-radius: 2px;
}

.input-name:hover{
    outline: none;
    transition: .5s;
    box-shadow: 0px 0px 5px #9ad1ffa6;
}
.input-name-earse{
    outline: none;
    border: none;
    background-color: rgb(168, 203, 235);
    padding:2px;
    margin-left: 5px;
}
.input-name-earse:hover{
    outline: none;
    border: none;
    background-color: rgb(172, 181, 189);
    cursor: pointer;
}
.channel-nav-master{
    background-color: #541355;
    color: whitesmoke;
    width:200px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    p{
        padding: 5px;
        // cursor: pointer;
    }
}
.channel-nav-header{
    padding: 5px;
    margin-left: 15px;
}
.add-channel{
    margin-right: 5px;
    background-color: $purple-splash;
    border:none;
    outline: none;
    color: rgb(219, 219, 219);
    font-size: 20px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    height: 25px;
    width: 25px
}
.add-channel:hover{
    cursor: pointer;
    background-color: rgba(184, 184, 184, 0.438);
    
}
.channels{
    background-color: $purple-splash;
    width: 200px;
}
.channel-items{
    padding: 5px 14px;
    display: flex;
    font-size: 15px;
    margin: 3px;
    width: 197px;
    background-color: $purple-splash;
    color: whitesmoke;
    .hashtag{
        padding-right: 15px;
    }
}

.channel-items:hover{
    cursor: pointer;
    background-color: #490f4a;
    border-radius: 5px;
}
.channel-items-items{
    cursor: pointer;
    background-color: #490f4a;
    border-radius: 5px;
}
.add-last-channel{
    margin-right: 5px;
    background-color: rgba(184, 184, 184, 0.438);
    border:none;
    outline: none;
    color: rgb(219, 219, 219);
    font-size: 20px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    height: 25px;
    width: 25px
}
.add-last-channel:hover{
    cursor: pointer;
}
.channel-master-layout{
    display: flex;
}
.channel-header{
    display: flex;
    height: 50px;
    // background-color: red;
}

.channel-item-header{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 1030px;
    margin-left: 5px;
    .topic{
        width: 200px;
        font-weight: normal;
        font-size: 13px;
        color: rgb(78, 78, 78);
        padding-top: 10px;
    }
    .topic:hover{
        cursor: pointer;
        color: $blue-text-highlight;
    }
    .button{
        outline: none;
    }
}
.channel-icon-header{
    display: flex;
}
.icon-channel{
    height: 35px;
    margin-left: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(92, 92, 92, 0.226);
}


.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 15px 0px;
    position: absolute;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 32%;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

.detail-header{
    display: flex;
}
.icon{
    display: flex;
    flex-direction: column;
}
.detail{
    width: 100%;
}

// View (Search) members
.search{
    padding-top: 18px;
    color: #3d84e2;
    cursor: pointer;
    width: 17%;
    font-weight: bolder;
    font-size: 15px;
}
.search:hover{
    text-decoration: underline;
    color: $blue-splash;
}
.item{
    padding-top: 10px;
}
.item-name{
    margin-top: 10px;
    font-weight: bolder;
    padding: 5px 0px;
}
.item-name:hover{
    cursor: pointer;
    background-color: #c1c1c161;
    border-radius: 5px;
}
.error-search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.center-clearout{
    display: flex;
    justify-content: center;
}
.clearout{
    padding: 10px;
    background: transparent;
    outline: none;
    border: 1px solid #ababab;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
.clearout:hover{
    background: #8080801a;
}
.nameItems{
    position: relative;
    top: -230px;
    left: 250px;
    z-index: 99;
    width: 80%;
    height: 300px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
}

.name-button-modal{
    width: 60px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.name-button-modal:hover{
    text-decoration: underline;
}
.img-button-modal{
    height: 50%;
    width: 100%;
    background: red;
    position: relative;
    top: -41px;
    border-radius: 2px;
}
.img-button-modal:hover{
    cursor: pointer;
}
